<ion-list lines="none">
  <ion-list-header>
    Account
  </ion-list-header>

  <ion-item-group *ngIf="(user); else noUser">
    <ion-item lines="inset">
      <ion-avatar slot="start">
        <img ngxGravatar [email]="user.email" />
      </ion-avatar>
      <ion-label> {{user.displayName}} </ion-label>
    </ion-item>
    <!-- <ion-item [routerLink]="['/settings']">Settings</ion-item> -->
    <ion-item style="margin-top: 20px;">
      <ion-button class="o-fullsize-horizontal" color="danger" expand="block" size="default" fill="clear"
        (click)="logout()">Sign out</ion-button>
    </ion-item>
  </ion-item-group>

  <ng-template #noUser>
    <ion-item-group>
      <ion-item lines="none">
        <ion-button class="o-fullsize-horizontal" color="primary" expand="block" size="default"
          (click)="presentLoginModal()">Sign In / Sign Up</ion-button>
      </ion-item>
    </ion-item-group>
  </ng-template>

</ion-list>